body{
	margin: 0 auto;
}
/* parte modal */
.modal-inner_vit{
	width: 20%;
	height: 20%;
	background-color: rgba(52, 94, 51, 0.753);
	border-radius: 20%;

	box-shadow: 5px 10px 20px rgb(0, 0, 0);

	justify-items: center;
    display: block;
    align-content: center;
	padding: 1%;
}

.modal_vit{
	background-color: hwb(118 41% 0% / 0.212) ;
	color: #f4f4f4;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.5s ease-in-out;
	z-index: -1;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: larger;
}

.modal_vit.open{
	opacity: 1;
	z-index: 999;
}

.modal_vit a{
	color: #f4f4f4;
	text-decoration: none;
	letter-spacing: 1px;
}

.modal_vit a:hover{
	text-shadow:
    2px 2px 0 #15910f,
    -2px -2px 0 #15910f,
    2px -2px 0 #15910f,
    -2px 2px 0 #15910f;
}

.modal_vit h2{
	letter-spacing: 2px;
	margin-top: 1%;
	margin-bottom: 7%;
}


.modal-inner_per{
	width: 20%;
	height: 25%;
	background-color: rgba(141, 42, 42, 0.753);
	border-radius: 20%;

	box-shadow: 5px 10px 20px rgb(0, 0, 0);

	justify-items: center;
    display: block;
    align-content: center;
	padding: 1%;
}

.modal_per{
	background-color: rgb(255 0 0 / 20%) ;
	color: #f4f4f4;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.3s ease-in-out;
	z-index: -1;

	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	font-size: larger;
}

.modal_per.open{
	opacity: 1;
	z-index: 999;
}

.modal_per a{
	color: #f4f4f4;
	text-decoration: none;
	letter-spacing: 1px;
}

.modal_per a:hover{
	text-shadow:
    2px 2px 0 #d40707,
    -2px -2px 0 #d40707,
    2px -2px 0 #d40707,
    -2px 2px 0 #d40707;
}

.modal_per h2{
	letter-spacing: 2px;
	margin-top: 1%;
	margin-bottom: 3%;
}

.modal_per p{
	margin-bottom: 0;
	margin-top: 1%;
}

#palavra_certa{
	margin-top: 2%;
	margin-bottom: 5%;
	font-size: larger;
	font-weight: bolder;
	letter-spacing: 5px;
}

@media screen and (max-width: 719px) {
	.modal-inner_per{
		width: 60%;
		height: 30%;
	}

	.modal-inner_vit{
		width: 60%;
		height: 30%;
	}
}
