#conteudo{
    background-color: black;
    font-family: 'jockeyOne';
}

#nav{
	padding:1%;
	margin-bottom: 0;
	width: 50px;
	height: 50px;
	padding-left: 0.5%;
	display: inline-block;
	margin-left: 10px;
	position: absolute;
	top: 1%;
	left: 1%;
	
}
body {
    background: #000000;
}
#nav a{
	color:white;
    font-size: larger;
    padding-left: 0.5%;
	margin-bottom: 0;
    text-decoration: none;
}

img{
    width: 35px;
    height: 35px;
}

#main{
    justify-content: center; 
    align-items: center; 
    display: flex;
}


h1{
    color: white;
    text-align: center;
    font-size:60px;
    margin-top: 2%;
    text-shadow: 
    2.5px 2.5px 0 #003CFF, 
    -2.5px -2.5px 0 #003CFF, 
    2.5px -2.5px 0 #003CFF,
    -2.5px 2.5px 0 #003CFF; 
}



#caixaAdivinha{
    width: 600px;
    height: 60px;
    font-family: 'jockeyOne';
	margin-top: 5%;
}

::placeholder{
	font-size: x-large;
}

#btnEnvia{
    width: 200px;
    height: 58px;
    font-family: 'jockeyOne';
    background-color: rgb(92, 89, 89);
    border:2px solid #003CFF;
    color: white;
    cursor: pointer; 
	font-size: x-large;
}


#footer{
    padding:2%;
    background-color: black;
	
}

.teclado {
	display: grid;
	grid-template-columns: repeat(13, 70px);
	grid-template-rows: repeat(2, 70px);
	grid-gap: 7px;
}

.teclado div {
	background: #f4f4f4;
	color: #000;
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	font-size: 18px;
	font-weight: bold;
}
.teclado .absent {
	background-color: #787c7e;
	color: #fff;
}
.teclado .correct {
	background-color: #6aaa64;
	color: #fff;
}

.quadro {
	display: grid;
	grid-template-columns: repeat(6, 60px);
	grid-gap: 25px;
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;

}

.quadro div {
	width: 75px;
	height: 75px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid #ccc;
	font-size: 24px;
	font-weight: bold;
	color: white;
}

.correct {
	background-color: #6aaa64;
	color: white;
}

.present {
	background-color: #c9b458;
}

.absent {
	background-color: #787c7e;
}

#game-container {
	text-align: center;
	background:black;
	margin-top: 0;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: inline-block;
}

/* para testes */
#messagem{
	color: #ccc;
}

/* parte modal */
.modal_vit{
	background-color: rgba(255, 255, 255, 0.219) ;
	color: #f4f4f4;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.3s ease-in-out;
	z-index: -1;

	display: flex;
	align-items: center;
	justify-content: center;
}

.modal_vit.open{
	opacity: 1;
	z-index: 999;
}

.modal_vit a{
	color: #f4f4f4;
}

.modal_per{
	background-color: rgba(255, 255, 255, 0.219) ;
	color: #f4f4f4;
	opacity: 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: all 0.3s ease-in-out;
	z-index: -1;

	display: flex;
	align-items: center;
	justify-content: center;
}

.modal_per.open{
	opacity: 1;
	z-index: 999;
}