#conteudo{
    background-color: black;
    font-family: 'jockeyOne';
}

#nav{
	padding:1%;
	margin-bottom: 0;
	width: 50px;
	height: 50px;
	padding-left: 0.5%;
	display: inline-block;
	margin-left: 10px;
	position: absolute;
	top: 1%;
	left: 1%;
	
}
body {
    background: #000000;
}
#nav a{
	color:white;
    font-size: larger;
    padding-left: 0.5%;
	margin-bottom: 0;
    text-decoration: none;
}

img{
    width: 35px;
    height: 35px;
}

#main{
    justify-content: center; 
    align-items: center; 
    display: flex;
}


h1{
    color: white;
    text-align: center;
    font-size:60px;
    margin-top: 2%;
    margin-bottom: 1%;
    text-shadow: 

    2px 2px 0 #00D9FF, 
    -2px -2px 0 #00D9FF, 
    2px -2px 0 #00D9FF,
    -2px 2px 0 #00D9FF; 
	margin-bottom: 2%;
	letter-spacing: 3px;

}


#caixaAdivinha{
    width: 300px;
    height: 40px;
    font-family: 'jockeyOne';
	margin-top: 5%;
	font-size: x-large;
	padding: 0.5%;
	margin-bottom: 1%;
}

::placeholder{
	font-size: x-large;
}

#btnEnvia{
    width: 200px;
    height: 50px;
    font-family: 'jockeyOne';
    background-color: rgb(92, 89, 89);

	border:2px solid #00D9FF;

    color: white;
    cursor: pointer; 
	font-size: x-large;
	padding: 0.5%;
	margin-left: 3%;
	margin-bottom: 1%;
}

#btnEnvia:hover{
    background-color: rgb(71, 68, 68);
	border:2px solid #08bddd;
}

#btnEnvia:active{
    background-color: rgb(92, 89, 89);
	border:2px solid #00D9FF;
}

#footer{
    padding:2%;
    background-color: black;
	
}

.teclado {
	display: grid;
	margin-top: 2%;
	grid-template-columns: repeat(13, 70px);
	grid-template-rows: repeat(2, 70px);
	grid-gap: 7px;
}

.teclado div {
	background: #f4f4f4;
	color: #000;
	width: 10px;
	height: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 4px;
	font-size:larger;
	font-weight: bold;
}

.teclado button{
	border-radius: 10%;
	font-size: x-large;
	/* font-weight: bold; */
	font-family: 'jockeyOne';
	background-color: #ebedee;
}

.teclado button:hover{
	background-color: #d6d7d8;
}

.teclado button:active{
	background-color: #ebedee;
}


.teclado .absent {
	background-color: #787c7e;
	color: #fff;
	box-shadow: none !important;
}

.teclado .absent:hover {
	background-color: #787c7e !important;
}

.teclado .absent:active {
	background-color: #787c7e !important;
}

.teclado .present {
	background-color: #c9b458;
	color: #fff;
	box-shadow: none !important;
}

.teclado .present:hover {
	background-color: #c0aa48;
	border: 3px #c0aa48;
}

.teclado .present:active {
	background-color: #c9b458;
}

.teclado .correct {
	background-color: #6aaa64;
	color: #fff;
	box-shadow: none !important;
}

.teclado .correct:hover {
	background-color: #5b9c55;
	border: 3px #5b9c55;
}

.teclado .correct:active {
	background-color: #6aaa64;
}

.quadro {
	display: grid;
	grid-template-columns: repeat(6, 60px);
	grid-gap: 20px;
	margin-bottom: 10px;
	justify-content: center;
	align-items: center;

}

.quadro div {
	width: 65px;
	height: 65px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 2px solid #ccc;
	box-shadow: 0px 0px 10px #ccc;
	font-size: 28px;
	font-weight: bold;
	color: white;
}

.correct {
	/* background-color: #000000; */
	color: white;
	border: 2px solid #6aaa64 !important;
	box-shadow: 0px 0px 20px #6aaa64 !important;
}

.present {
	/* background-color: #c9b458; */
	border: 2px solid #c9b458 !important;
	box-shadow: 0px 0px 20px #c9b458 !important;
}

.absent {
	/* background-color: #787c7e; */
	border: 2px solid #5c5e5f !important;
	box-shadow: 0px 0px 20px #5c5e5f !important;
}


#game-container {
	text-align: center;
	background:black;
	margin-top: 0;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	display: inline-block;
}

/* para testes */
#messagem{
	margin-top: 0;
	color: #f0eaea;
}