#conteudo{
    background-color: black;
    font-family: 'jockeyOne';
}

#nav{
    padding:1%;
    margin-bottom: 0;
    width: 3.125rem; /* 50px */
    height: 3.125rem; /* 50px */
    padding-left: 0.5%;
    display: inline-block;
    margin-left: 0.625rem; /* 10px */
    position: absolute;
    top: 1%;
    left: 1%;
}

body {
    background: #000000;
}

#nav a{
    color:white;
    font-size: larger;
    padding-left: 0.5%;
    margin-bottom: 0;
    text-decoration: none;
}

img{
    width: 2.1875rem; /* 35px */
    height: 2.1875rem; /* 35px */
}

#main{
    justify-content: center; 
    align-items: center; 
    display: flex;
}

h1{
    color: white;
    text-align: center;
    font-size: 3.75rem; /* 60px */
    margin-top: 2%;
    margin-bottom: 1%;
    text-shadow: 

    0.15625rem 0.15625rem 0 #003CFF, /* 2.5px */
    -0.15625rem -0.15625rem 0 #003CFF, /* -2.5px */
    0.15625rem -0.15625rem 0 #003CFF,
    -0.15625rem 0.15625rem 0 #003CFF;
}

#caixaAdivinha{
    width: 37.5rem; /* 600px */
    height: 3.75rem; /* 60px */
    font-family: 'jockeyOne';
    margin-top: 5%;

}

::placeholder{
    font-size: x-large;
}

#btnEnvia{

    width: 12.5rem; /* 200px */
    height: 3.625rem; /* 58px */
    font-family: 'jockeyOne';
    background-color: rgb(92, 89, 89);
    border: 0.125rem solid #003CFF; /* 2px */
    color: white;
    cursor: pointer; 
    font-size: x-large;
}


#footer{
    padding:2%;
    background-color: black;
}

.teclado {

    display: grid;
    grid-template-columns: repeat(13, 4.375rem); /* 70px */
    grid-template-rows: repeat(2, 4.375rem); /* 70px */
    grid-gap: 0.4375rem; /* 7px */
}

.teclado div {
    background: #f4f4f4;
    color: #000;
    width: 1.875rem; /* 30px */
    height: 1.875rem; /* 30px */
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0.25rem; /* 4px */
    font-size: 1.125rem; /* 18px */
    font-weight: bold;

}

.teclado button{
	border-radius: 10%;
	font-size: x-large;
	/* font-weight: bold; */
	font-family: 'jockeyOne';
	background-color: #ebedee;
}

.teclado button:hover{
	background-color: #d6d7d8;
}

.teclado button:active{
	background-color: #ebedee;
}


.teclado .absent {
    background-color: #787c7e;
    color: #fff;
    box-shadow: none !important;
}

.teclado .absent:hover {
	background-color: #787c7e !important;
}

.teclado .absent:active {
	background-color: #787c7e !important;
}

.teclado .present {
    background-color: #c9b458;
    color: #fff;
    box-shadow: none !important;
}

.teclado .present:hover {
    background-color: #c0aa48;
    border: 0.1875rem #c0aa48; /* 3px */
}

.teclado .present:active {
    background-color: #c9b458;
}

.teclado .correct {
    background-color: #6aaa64;
    color: #fff;
    box-shadow: none !important;
}

.teclado .correct:hover {
    background-color: #5b9c55;
    border: 0.1875rem #5b9c55; /* 3px */
}

.teclado .correct:active {
    background-color: #6aaa64;
}

.quadro {
    display: grid;
    grid-template-columns: repeat(6, 3.75rem); /* 60px */
    grid-gap: 1.25rem; /* 20px */
    margin-bottom: 0.625rem; /* 10px */
    justify-content: center;
    align-items: center;
}

.quadro div {
    width: 4.0625rem; /* 65px */
    height: 4.0625rem; /* 65px */
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.125rem solid #ccc; /* 2px */
    box-shadow: 0px 0px 0.625rem #ccc; /* 10px */
    font-size: 1.75rem; /* 28px */
    font-weight: bold;
    color: white;
}

.correct {
    color: white;
    border: 0.125rem solid #6aaa64 !important; /* 2px */
    box-shadow: 0px 0px 1.25rem #6aaa64 !important; /* 20px */
}

.present {
    border: 0.125rem solid #c9b458 !important; /* 2px */
    box-shadow: 0px 0px 1.25rem #c9b458 !important; /* 20px */
}

.absent {
    border: 0.125rem solid #5c5e5f !important; /* 2px */
    box-shadow: 0px 0px 1.25rem #5c5e5f !important; /* 20px */
}

#game-container {
    text-align: center;
    background: black;
    margin-top: 0;
    border-radius: 0.5rem; /* 8px */
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1); /* 4px 8px */
    display: inline-block;
}

/* para testes */
#messagem{

    color: #ccc;
}

/* parte modal */
.modal_vit{
    background-color: rgba(255, 255, 255, 0.219);
    color: #f4f4f4;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_vit.open{
    opacity: 1;
    z-index: 999;
}

.modal_vit a{
    color: #f4f4f4;
}

.modal_per{
    background-color: rgba(255, 255, 255, 0.219);
    color: #f4f4f4;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all 0.3s ease-in-out;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal_per.open{
    opacity: 1;
    z-index: 999;
}


@media screen and (max-width: 719px){
	#nav{
		padding:1%;
		margin-bottom: 0;
		width: 3.125rem; /* 50px */
		height: 3.125rem; /* 50px */
		padding-left: 0.5%;
		display: inline-block;
		margin-left: 0.625rem; /* 10px */
		position: absolute;
		top: 1%;
		left: 1%;
	}

	#nav a{
		color:white;
		font-size: larger;
		padding-left: 0.5%;
		margin-bottom: 0;
		text-decoration: none;
	}
	

	h1{
		color: white;
		text-align: center;
		font-size: 3rem; /* 60px */
		margin-top: 7%;
		margin-bottom: 15%;
		height: 3rem;
		text-shadow: 
		0.15625rem 0.15625rem 0 #003CFF, /* 2.5px */
		-0.15625rem -0.15625rem 0 #003CFF, /* -2.5px */
		0.15625rem -0.15625rem 0 #003CFF,
		-0.15625rem 0.15625rem 0 #003CFF;
	}
	.quadro {
		display: grid;
		grid-template-columns: repeat(6, 2.5rem); /* Reduzido de 60px para 40px */
		grid-gap: 1.25rem; /* Mantido em 20px */
		margin-bottom: 0.625rem; /* 10px */
		justify-content: center;
		align-items: center;
	}
	
	.quadro div {
		width: 2.6875rem; /* Reduzido de 65px para 43px */
		height: 2.6875rem; /* Reduzido de 65px para 43px */
		display: flex;
		justify-content: center;
		align-items: center;
		border: 0.125rem solid #ccc; /* 2px */
		box-shadow: 0px 0px 0.625rem #ccc; /* 10px */
		font-size: 1.5rem; /* Reduzido de 28px para 24px */
		font-weight: bold;
		color: white;
	}

	.teclado{
		display:none;
	}
	#caixaAdivinha{
		width: 20rem; /* 600px */
		height: 2.7rem; /* 60px */
		font-family: 'jockeyOne';
		margin-top: 9%;
	}
	
	
	#btnEnvia{
		width: 7rem; /* 200px */
		height: 2.5rem; /* 58px */
		font-family: 'jockeyOne';
		background-color: rgb(92, 89, 89);
		border: 0.125rem solid #003CFF; /* 2px */
		color: white;
		cursor: pointer; 
		font-size: x-large;
	}
}